<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{page.root}}{% link _episodes/01_setup.md %}">Install Docker</a> </td> </tr>
      <tr> <td>04:00</td>  <td><a href="{{page.root}}{% link _episodes/02_intro.md %}">Intro</a> </td> </tr>
      <tr> <td>04:00</td>  <td><a href="{{page.root}}{% link _episodes/03_containers.md %}">Containers</a> </td> </tr>
      <tr> <td>05:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
